body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: cover;
  opacity: 0.5;
}

header {
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
h1 {
  margin: 0;
}
main {
  padding: 1rem;
}
.iframe-container-single {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.iframe-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
iframe {
  width: 100%;
  max-width: 150px;
  height: 75px;
}
.calculator-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.calculator, .d-day {
  flex: 1;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.calendar-container {
  margin-bottom: 1rem;
}
.calendar {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
